<div class="changePass">
  <h4>В рамках лабораторной работы вы должны менять пароль раз в 20 секунд</h4>
  <mat-form-field>
    <mat-label>Текущий пароль</mat-label>
    <input matInput [formControl]="currentPassword">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Новый пароль</mat-label>
    <input matInput [formControl]="newPassword">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Подтвердите новый пароль</mat-label>
    <input matInput [formControl]="confNewPassword">
  </mat-form-field>
  <br><p *ngIf="errormessage!=null">{{errormessage}}</p>
  <button mat-raised-button color="primary" (click)="changePass()">Сменить пароль</button>

</div>
