<div class="forgot-password">
  <mat-form-field>
    <mat-label>Username or Email</mat-label>
    <input matInput [formControl]="usernameOrEmail">
  </mat-form-field>
  <div>

    <div class="valCode">
      <span>{{validationCode}}</span>
    </div><br>
    <mat-form-field>
      <mat-label>Введите то что на картинке</mat-label>
      <input matInput (input)="validate($event)">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput [formControl]="newPassword">
    </mat-form-field>
    <br>
    <p>{{errormessage}}</p>
    <button mat-raised-button color="primary" (click)="unblock()">Продолжить</button>
  </div>

</div>
